/* Estilo geral */
.contact {
    background-color: #f4f4f4;
    padding: 40px 0;
}

.contact .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.contact h1, .contact h2 {
    color: #01236d;
    text-align: center;
}

.contact p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.contact-item {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
    margin: 10px;
}

.contact-item i {
    font-size: 30px;
    color: #01236d;
    margin-bottom: 10px;
}

.contact-item h2 {
    margin-bottom: 10px;
}

.contact-item p {
    font-size: 16px;
}

.contact-item a {
    color: #007bff;
    text-decoration: none;
}

.contact-item a:hover {
    text-decoration: underline;
}

.contact-form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 10px;
    font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
}

.contact-form input[type="submit"] {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.contact-form input[type="submit"]:hover {
    background-color: #0056b3;
}
