body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
}

.navbar {
   background-color: #01236d;
   width: 100%;
   margin-top: auto;
}

.navbar .menu {
   display: flex;
   justify-content: center;
}

.navbar a {
   display: flex;
   color: #ffffff;
   text-align: center;
   padding: 14px 20px;
   text-decoration: none;
}

.navbar a:hover {
   background-color: #003cff;
}

.logo img {
   display: grid;
   align-items: center;
   justify-items: center;
   height: auto;
   width: 165px;
}

.logo {
   display: grid;
   align-items: center;
   justify-content: center;
   height: 100px;
}

.search-bar {
   display: grid;
   align-items: left;
   justify-content: left;
   width: 100%;
   max-width: 800px; 
   height: 0px;
}

.search-form {
   display: flex;
   align-items: center;
   justify-content: center;
}

.search-form input[type="text"] {
   width: 50%;
   padding: 8px;
   font-size: 16px;
   border: 2px solid #333;
   border-radius: 10px;
}

.search-form input[type="submit"] {
   padding: 8px 16px;
   background-color: #007bff;
   border: none;
   color: white;
   border-radius: 4px;
   cursor: pointer;
   font-size: 16px;
}

.search-form input[type="submit"]:hover {
   background-color: #666;
}

.icons-container {
   display: flex;
   align-items: end;
   justify-content: end;
}

.register-icon,
.cart-icon {
   padding: 5px;
   margin-left: 40px;
   font-size: 20px;
   margin-bottom: 30px;
   display: grid;
}

footer {
   background: #01236d;
   color: #fff;
   text-align: center;
   padding: 10px 0;
   position: relative;
   width: 100%;
   margin-top: 40px;
}

header {
   background: #fff;
   width: 100%;
}

.banner {
   width: 90%;
   height: 400px;
   margin: 80px auto;
   background: url(banner.png) no-repeat center;
   background-size: cover;
}

.welcome-message {
   text-align: center;
   margin-top: 100px;
   font-size: 20px;
   font-weight: bold;
   background-color: #ffffff;
   border: #333 solid 5px;
   border-radius: 5px 5px 5px 5px;
   border-width: 2px;
   -webkit-text-stroke-width: 0.2px; /* largura da borda */
   -webkit-text-stroke-color: #0199ff;
   margin-bottom: 70px;
}

